.App {
  text-align: center;
}


.App-header {
  background-color: lightslategray;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
    background-color: lightgray;
    background-image: url("/stars.jpg")
}

nav {
    background-color: #282c34;
    padding: 2px;

}

nav ul {
    list-style-type: none;
    margin-right: 15px;
}

nav li {
    display: inline;
    margin-right: 15px;

}

nav a, nav a:visited {
    text-decoration: none;
    font-size: 22px;
    color: #ffd54e
}

nav a:hover {
    color: hotpink;
}

.red {
    color: red;
}

img {
    max-height: 30vh;
    max-width: 30vw
}